workflows/2 - Kafka forward agent.json
{
  "name": "Kafka forward agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "When the user asks something you that can be calssified as an action or a specific info not about yourself, classify it as only one of these values:\n- action\n- info\nand provide a summary of the request describing what the user wants. Be specific."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -224,
        -32
      ],
      "id": "33a5269e-dc05-4c54-a328-2f24f10ad3e8",
      "name": "AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -224,
        160
      ],
      "id": "519321d8-3ba9-48e7-b8f0-3d45407a136d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "RlHHhX1r4dG9oig0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "",
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -400,
        -32
      ],
      "id": "03818a67-590f-4ef4-8e80-840347b8df46",
      "name": "When chat message received",
      "webhookId": "1fd81685-5d19-47cc-bf9d-1ebd47ff268f"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"request_type\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"summary\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n    },\n      \"required\": [\"request_type\", \"summary\"]\n\t}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -96,
        160
      ],
      "id": "4ada35eb-0fc7-4d95-844f-429f36d4b732",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "topic": "test-topic",
        "options": {}
      },
      "type": "n8n-nodes-base.kafka",
      "typeVersion": 1,
      "position": [
        96,
        -32
      ],
      "id": "1fe0a672-7e58-49ae-b7bd-0899c8fb2e45",
      "name": "Kafka",
      "credentials": {
        "kafka": {
          "id": "V5ZbaP4uNNXeKm2q",
          "name": "Kafka account"
        }
      }
    },
    {
      "parameters": {
        "message": "={{ $json.message }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        928,
        -48
      ],
      "id": "addf15c3-e202-43ac-ac66-63ac520ee52e",
      "name": "Respond to Chat1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "73eec726-8ae7-42f5-a522-516f17ef7365",
              "leftValue": "={{ $json.success }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        272,
        -32
      ],
      "id": "7fb875aa-3277-4895-be26-be145ddd99ee",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a599f9a9-1030-425a-9315-035956dcaad2",
              "name": "message",
              "value": "=Succesfully sent {{ $('AI Agent').item.json.output.request_type }} request.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        -128
      ],
      "id": "071788c2-0288-44ca-85d0-1f3cee886d9c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "65e8e9a7-6c6e-498b-a185-5aad3d0572eb",
              "name": "message",
              "value": "Could not forward your request.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        48
      ],
      "id": "d5f88e51-0688-4637-bb19-e214e7ccef54",
      "name": "Edit Fields1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        704,
        -48
      ],
      "id": "08255b85-1553-4780-a6dc-d70b48aa23d0",
      "name": "Merge"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -96,
        336
      ],
      "id": "146b2e4c-3249-4557-819d-22133947ab3d",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "RlHHhX1r4dG9oig0",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Kafka",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kafka": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Respond to Chat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "73a2c550-79b2-4fe5-a1d1-ca93925c7e07",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7202bfe4c988b71f1b6c1bd2c81c5fe9d3fb62de58902fddccff46c03ef7a9c8"
  },
  "id": "y8c3qlQVBulGYjtj",
  "tags": []
}