workflows/3 - Kafka meteo agent interface.json
{
  "name": "Kafka meteo agent interface",
  "nodes": [
    {
      "parameters": {
        "topic": "test-topic",
        "groupId": "test-consumer-group",
        "options": {}
      },
      "type": "n8n-nodes-base.kafkaTrigger",
      "typeVersion": 1.1,
      "position": [
        -96,
        -128
      ],
      "id": "36f51db5-5167-45b5-a741-a32e163b6a9c",
      "name": "Kafka Trigger",
      "credentials": {
        "kafka": {
          "id": "fp4rFaYr7Ebwjkd3",
          "name": "Kafka account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "GPT-4.1-NANO"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.output.summary }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "instructions": "You must understand if the request is related to getting the weather, temperature or coordinates of a city. Set the \"related\" boolean to true if it does or to false if it does not.",
          "textFormat": {
            "textOptions": {
              "type": "json_schema",
              "schema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"related\": {\n      \"type\": \"boolean\",\"description\": \"if the request is related to weather, temperature or coordinates\"\n    }\n  },\n  \"additionalProperties\": false,\n  \"required\": [\"related\"]\n}",
              "strict": true
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        256,
        -128
      ],
      "id": "b7151694-6b3f-4640-977e-fb0a8f7c5cdc",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "RlHHhX1r4dG9oig0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "27034453-7b4a-4de5-a4d9-f62c83bc2cb1",
              "leftValue": "={{ $json.output[0].content[0].text.related }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        576,
        -128
      ],
      "id": "ddb3d583-a9fd-4cd8-b470-74d96dfc5773",
      "name": "If"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KiUYbzrBxZwihDKU",
          "mode": "list",
          "cachedResultUrl": "/workflow/KiUYbzrBxZwihDKU",
          "cachedResultName": "Meteo agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1008,
        -144
      ],
      "id": "3dace76f-5b38-4101-bb89-30623490f78c",
      "name": "Call 'Meteo agent'"
    },
    {
      "parameters": {
        "jsCode": "const s = $input.first().json.message;\nconst items = [JSON.parse(s)];\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -128
      ],
      "id": "ed17e83d-fc46-44d0-a2b0-e9343580d5d5",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "30974a36-c3ab-48c3-91d0-01464dc24475",
              "name": "chatInput",
              "value": "={{ $('Code in JavaScript').item.json.output.summary }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        -144
      ],
      "id": "f0735db7-95b5-4a0b-bb3b-fc866e1369e6",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Kafka Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Call 'Meteo agent'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "beca56dd-025c-4467-890f-f5cda5f7a7ac",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7202bfe4c988b71f1b6c1bd2c81c5fe9d3fb62de58902fddccff46c03ef7a9c8"
  },
  "id": "KofUMhCRyCCFXZ2i",
  "tags": []
}